# =========================================
# Environment & Secrets
# =========================================
.env
*.env

# =========================================
# Local Models & Large Artifacts
# =========================================
models/
models/*
models/embeding/
models/embedding/

# =========================================
# Output Folders (Retrieval, Logs, Plots)
# =========================================
outputsRetrieval/
outputsRetrieval/*

# =========================================
# Python cache & compiled files
# =========================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# =========================================
# Virtual Environments
# =========================================
venv/
.venv/
vavilarag/

# =========================================
# VSCode configs
# =========================================
.vscode/

# =========================================
# Jupyter notebook checkpoints
# =========================================
.ipynb_checkpoints/

# =========================================
# System files (Linux, Windows, Mac)
# =========================================
.DS_Store
Thumbs.db
